.table-section {
  margin-top: 2rem;
  background: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 95%;
  margin-bottom: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 40rem;
}

th,
td {
  padding: 0.75rem;
  text-align: left;
  justify-content: left;
  color: gray;
}

th {
  background: #f0f0f0;
}

tbody tr:nth-child(even) {
  background: #f9f9f9;
}

.product-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}
.edit{
  color: rgba(0, 0, 255, 0.685);
}
.delete{
  color: rgba(255, 0, 0, 0.685);
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.add {
  margin-right: 5.5rem;
  background-color: rgb(76, 0, 255);
  width: 10rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.plus {
  color: white;
  margin-right: 0.1rem;
}
.nav-links{
  color:white;
  text-decoration:none;
}
body.dark-theme .table-section,
body.dark-theme .add {
  background-color: #181818;
  box-shadow: 0 0 5px rgb(80, 80, 80);
}

body.dark-theme th {
  background-color: #181818;
  color: white;
}

body.light-theme td body.light-theme td {
  padding: 0.75rem;
  text-align: left;
  justify-content: left;
  color: gray;
  background: #f0f0f0;
}

body.dark-theme tbody tr:nth-child(even) {
  background-color:#0e0d0dc2 ;
  color: white;
}
@media (max-width: 768px) {
  .table-section {
    padding: 0.5rem;
    width: 100%;
  }

  th,
  td {
    padding: 0.5rem;
    font-size: 0.875rem;
  }

  .product-img {
    width: 40px;
    height: 40px;
  }

  .add {
    width: 100%;
    font-size: 0.875rem;
    text-align: center;
    margin: 1rem 0; /* Adjusts spacing */
  }

  .top {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  th,
  td {
    font-size: 0.75rem;
    padding: 0.4rem;
  }

  .product-img {
    width: 35px;
    height: 35px;
  }

  .add {
    font-size: 0.75rem;
  }
}